body {
	background-image: url(cielo.jpg);
	background-repeat: no-repeat;
	background-size: 1349px 555px;
	background-attachment: local;
}

nav	{
	background-color: #DD514D;
}

.logo {
	font-family: 'Quicksand';
	font-size: 28px;
	color: white;
	margin-right: 5px;
	padding-bottom: 0px;
}

.logoNUEVO {
	width: 50px;
}

.xd {
	width: 300px;
	height: 50px;
	font-size: 22px;
	border-radius: 20px;
	font-family: "Public Sans";
}

.mybtn {
	background-color: #2F4474;
	color: white;
	border-color: #DD514D;
	border-radius: 10px;
}

.mybtn:hover {
	background-color: #2F4474;
	color: white;
	font-weight: bold;
	border-color: #2F4474;
}

.mybtn:active {
	background-color: white;
}

.linea {
	background-color: white;
	height: 2px;
	width: 1349px;
}

.title {
	color: #2F6FF1;
	font-size: 200px;
	font-family: 'Quicksand';
	text-align: center;
	transition: 1s;
}

.title:hover {
	font-size: 220px;
}

.tarjeta {
	margin: 100px;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.imagen {
	width: 20%;
	margin: 0px 75px;
	transition: 1s;
}

.imagen:hover {
	width: 33%;
	margin: 0px;
}